[Desktop Entry]
Encoding=UTF-8
Name=Mimic
Icon=$HOME/Mimic/Pi/imgs/ISSmimicLogoPartsGlowingISSblue.png
Exec=/usr/bin/python $HOME/Mimic/Pi/GUI.py 2>errors.txt
Comment[en_US]=ISS_Mimic
Terminal=true
Type=Application
